In [1]:

import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from Knn import KNN
import numpy as np
from sklearn.preprocessing import Normalizer

In [2]:

df = pd.read_csv(r"C:\Users\Ahmed\Downloads\archive (1)\Iris.csv")
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [5]:
df.loc[df['Species'] == 'Iris-setosa', 'Species'] = 0
df.loc[df['Species'] == 'Iris-versicolor', 'Species'] = 1
df.loc[df['Species'] == 'Iris-virginica', 'Species'] = 2

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2       0
1   2            4.9           3.0            1.4           0.2       0
2   3            4.7           3.2            1.3           0.2       0
3   4            4.6           3.1            1.5           0.2       0
4   5            5.0           3.6            1.4           0.2       0

In [7]:
df['Species'].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [ ]:
df['Species'][df['Species'] == 'nan' ].count()

In [8]:
x = df.drop('Species',axis = 1)
y=df['Species']

In [ ]:
x.head()

In [ ]:
x.info()

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=47)
x_train= np.asarray(X_train)
y_train= np.asarray(y_train)

x_test= np.asarray(X_test)
y_test= np.asarray(y_test)


scaler= Normalizer().fit(x_train) # the scaler is fitted to the training set
normalized_x_train= scaler.transform(x_train) # the scaler is applied to the training set
normalized_x_test= scaler.transform(x_test) # the scaler is applied to the test set

clf = KNN(5)
clf.fit(normalized_x_train,y_train)

In [ ]:
print(X_test.head())

In [ ]:
print(normalized_x_test.shape)

In [11]:
prediction = clf.predict(normalized_x_test)

In [ ]:
print(len(x_test))
print(x_test[:,0])

In [12]:
print(prediction)

[]

In [ ]:


plt.scatter(x_test[:,0] ,prediction ,c='r',marker = '_')